__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
env/
dist/
build/
.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.egg-info/
coverage*
.coverage*
node_modules/
*.log
.omniverse_cache/
.omniverse_store/